@import './variables.scss';
@import './animation.scss';
.modifyBill{



&__form{
   
    width: 60%;
    margin: 3rem auto;
    padding: 1rem;
    background: $primaryColor-dark;


    &__title{
        display: block;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    &__confirmMessage{
        display: block;
        margin: 1rem auto;
        background: $primaryColor-light;
        padding: 1rem;
        text-align: center;
        animation-name: fadeIn;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        width: 90%;

        &--message{
            font-weight: 100;
            letter-spacing: 0.2rem;
        }
    }


    &__contentForm{

        width:70%;
        margin: 0 auto;

        &__section{
            padding: 1rem;
            margin-bottom: 1rem ;  

        }
    }

}//end of the form


}
