$superLargeFont: 5rem;
$LargeFont : 3rem;
$normalFont:1.6rem;
$smallFont: 1.2rem;




$primaryColor: #5c6bc0;
$primaryColor-light: #8e99f3;
$primaryColor-dark: #26418f;

$secondaryColor: #e0e0e0;
$secondaryColor-light:#ffffff;
$secondaryColor-dark: #aeaeae;

$textColor-primary: #ffffff;
$textColor-secondary: #000000;
