$superLargeFont: 5rem;
$LargeFont : 3rem;
$normalFont:1.6rem;
$smallFont: 1.2rem;




$primaryColor: #0097a7;
$primaryColor-light: #56c8d8;
$primaryColor-dark: #006978;

$secondaryColor: #e0e0e0;
$secondaryColor-light:#ffffff;
$secondaryColor-dark: #aeaeae;

$textColor-primary: #000000;
$textColor-secondary: #ffffff;


//input validation colors:
$invalidColor:#b61827;
$validColor:#ffffff;